/* styles_3.css */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.recipe-page {
    width: 700px;
    margin: 0 auto;
    background-color: rgb(255, 245, 131);
    border: 7px solid brown;
    padding: 20px;
    line-height: 1.5;
}

img {
    width: 400px;
    height: auto;
    border: 3px solid brown;
    margin-bottom: 20px;
}

section {
    border: 5px solid brown;
    padding: 20px;
    margin-bottom: 20px;
}

.bottom.section {
    margin: 0px;
}

.top.section {
    text-align: center;
}

.top.section .description-content {
    text-align: justify;
}

h1 {
    margin: 0 0 20px;
}

h3 {
    margin: 0 0 10px;
}

p, ul, ol {
    margin: 0px;
}