
li{
    color: blueviolet;
}

#feedback {
    background-color: yellow;
    color: black;
    text-align: center;
    font-size: x-large;
}

.headings {
    font-size: large;
    background-color: black;
    color: white;
    text-align: center;
}


